@charset 'UTF-8'; /* 文字コードの指定 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap'); /* Google Fonts用のCSSを読み込み */

/* Base
------------------------------------------------------------*/
html {
    font-size: 62.5%;
}
body {
    font-family: "Noto Sans JP", "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #4c4c4c;
}
a {
    text-decoration: none;
    color: #a59d8d;
}
a:visited {
    color: #a59d8d;
}
a:hover {
    color: #423d5b;
}
a:active {
    color: #16d6e0;
}
a:hover {
    text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
    text-align: center;
}

/* Layout
------------------------------------------------------------*/
.profile-icon,
section .container,
.skills i {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Font
------------------------------------------------------------*/
h1.site-title,
section h1 {
        font-weight: 500;
}
.uppercase,
section h2,
.skills h3 {
    text-transform: uppercase;
}

/* Header
------------------------------------------------------------*/
header .button-area {
    position: fixed;
    right: 4rem;
    top: 4rem;
    text-align: center;
    color: #a59d8d;
    z-index: 1000;
}
@media (max-width: 959px) {
    header .button-area {
        position: fixed;
        right: 2rem;
        top: 2rem;
        text-align: center;
        color: #a59d8d;
        z-index: 1000;
    }
}
header .nav-button {
    display: block;
    margin: 0 0 0 auto;
    color: #a59d8d;
}
header .nav-button:hover {
    color: #423d5b;
}
header .fa-bars {
    font-size: 44px;
}
@media (max-width: 959px) {
    header .fa-bars {
        font-size: 32px;
    }
}
header small {
    font-size: 16px;
}
@media (max-width: 959px) {
    header small {
        font-size: 11px;
    }
}
header .sp-nav {
    position: absolute;
    text-align: right;
    top: 8rem;
    right: 0;
    display: none;
    z-index: 1000;
    font-size: 2.4rem;
}
header .sp-nav-list {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}
header {
    background-color: #fafafa;
}
header .profile {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 50px 0;
    margin: 0 auto;
}
@media (max-width: 959px) {
    header .profile {
        flex-direction: column;
        width: 85%
    }    
}
header .profile_text {
    width: 70%;
    padding: 60px 0;
}
@media (max-width: 959px) {
    header .profile_text {
        width: 100%
    } 
}
header .profile_photo {
    width: 30%;
    padding: 60px 0;
}
@media (max-width: 959px) {
    header .profile_photo {
    display: none;
    }   
}
header .site-title {
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 2.0rem;
    letter-spacing: 0.3rem;
    line-height: normal;
    color: #a59d8d;
}
@media (max-width: 959px) {
    header .site-title {
        font-size: 1.6rem;
    }
}
header .site-title span {
    display: block;
    font-size: 5.6rem;
    letter-spacing: 0.5rem;
    color: #423d5b;
}
@media (max-width: 959px) {
    header .site-title span {
        font-size: 4rem;
        letter-spacing: 0.3rem;
    }
}
header .profile-icon {
    margin: 40px auto;
    border-radius: 50%;
}
@media (max-width: 959px) {
    header  .profile-icon{
        margin: 0;
    }
}
header p {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.8em;
}
@media (max-width: 959px) {
    header p {
        margin: 0;
        font-size: 1.4rem;
        line-height: 1.8em;
    }
}
@media (max-width: 959px) {
    header .sp-profile-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
header .sp_profile_photo {
    display: none;
}
@media (max-width: 959px) {
    header .sp_profile_photo {
        display: block;
    }
}
/* Header contact部分
------------------------------------------------------------*/
header img.contact-btn {
    margin-top: 22px;
    width: 86px;
}
header img.contact-btn:hover {
    opacity: 0.6;
}

/* Section
------------------------------------------------------------*/
section {
    padding: 60px 0;
}
@media (max-width: 959px) {
    section {
        padding: 40px 0;
    }
}
section .container {
    width: 90%;
}
section h2 {
    font-size: 36px;
    font-size: 3.6rem;
    letter-spacing: 0.5rem;
}

/* Skills
------------------------------------------------------------*/
.skills {
    background-color: #ffffff;
}
.skills .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
@media (max-width: 959px) {
    .skills .container {
    flex-direction: column;
    }
}
.skills h2 {
    margin: 0 0 60px 0;
    font-weight: 300;
    color: #a59d8d;
}
@media (max-width: 959px) {
    .skills h2 {
        margin: 0 0 30px 0;
    }
}
.skills .skills-box {
    width: 32%;
    padding:30px 40px 50px 40px;
    color: #ffffff;
    box-sizing: border-box;
    box-shadow: -10px 10px 14px rgba(0,0,0,0.25);
}
@media (max-width: 959px) {
    .skills .skills-box {
    width: 100%;
    padding: 2rem 3rem;
    margin-bottom: 1.4rem;
    box-sizing: border-box;
    box-shadow: 10px 10px 14px rgba(0,0,0,0.25);
    }
}
.skills .skills-box.color-a {
    background-color: #f0b749;
}
.skills .skills-box.color-b {
    background-color: #2d7893;
}
.skills .skills-box.color-c {
    background-color: #cf524c;
}
.skills .skills-box-head {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
}
.skills .skills-box-head span {
    float: left;
}
.skills i {
    padding-top: 15px;
    margin: 0 20px 5px 0;
    font-size: 25px;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}
.skills h3 {
    margin: 0;
    font-size: 28px;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 2em;
}
.skills p {
    width: 100%;
    line-height: 2em;
}

/* Works
------------------------------------------------------------*/
.works {
    padding-bottom: 90px;
    background-color: #fafafa;
}
.works h2 {
    margin: 0 0 60px 0;
    font-weight: 300;
    color: #a59d8d;
}
@media (max-width: 959px) {
    .works h2 {
        margin: 0 0 30px 0;
    }
}
.works a.works-box {
    float: left;
    width: 32%;
    height: auto;
    margin: 0 2% 40px 0;
    color: #ffffff;
    background-color: #ffffff;
    box-shadow: -10px 10px 12px rgba(0,0,0,0.06);
}
@media (max-width: 959px) {
    .works a.works-box {
        width: 100%;
        box-shadow: 10px 10px 12px rgba(0,0,0,0.06);
        margin: 0 0 14px 0;
    }
}
.works a.works-box:nth-of-type(3n) {
    margin: 0 0 40px 0;
}
@media (max-width: 959px) {
    .works a.works-box:nth-of-type(3n) {
        margin: 0 0 14px 0;
    }
}
.works::after {
    display: block;
    clear: both;
    content: "";
}
.works a.works-box .works-box-top {
    width: 100%;
    padding-bottom: 61.8%;
    height: 0;
    position: relative;
}
.works a.works-box .works-box-top .works-box-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.works a.works-box .works-box-inner {
    position: relative;
    height: 80px;
    padding-bottom: 3rem;
}
.works a.works-box .works-box-inner p {
    position: absolute;
    display: block;
    height: 3rem;
    margin: 0;
    padding: 0 1rem;
    line-height: 3rem;
}
.works a.works-box .works-box-inner h3 {
    position: absolute;
    margin: 0;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #555555;
    padding: 4rem 1.2rem 0;
}
.works a.works-box .works-box-inner small {
    position: absolute;
    bottom: 10px;
    display: block;
    margin-bottom:5px;
    font-size: 1rem;
    color: #555555;
}
.works a.works-box:hover {
    opacity: 0.5;
}
.works a.works-box img {
    max-width: 100%;
}
.type-website{
    background-color: #f0b749;
}
.type-graphic{
    background-color: #2d7893;
}
/* Footer
------------------------------------------------------------*/
footer {
    padding: 20px 0;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    color: #fff;
    background-color: #a59d8d;
}

